@charset "UTF-8";

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.eot");
  src: local("☺"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype"), url("../fonts/Geometria.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium.eot");
  src: local("☺"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype"), url("../fonts/Geometria-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold.eot");
  src: local("☺"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype"), url("../fonts/Geometria-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Geometria";
  font-size: 18px;
}

section,
header {
  padding-left: 225px;
  padding-right: 302px;
}

.inner {
  max-width: 1520px;
}

.paralax1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.title {
  font-size: 60px;
  padding-left: 26px;
  border-left: 4px solid #00ccff;
}

.paralax2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 772px;
  width: auto;
}

.btn {
  padding: 20px 68px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  border-radius: 26px;
  background: #0099ff;
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border: 1px solid #0099ff;
}

.btn:hover {
  background: #fff;
  color: #0099ff;
}

.header {
  padding-top: 43px;
  position: relative;
  z-index: 1;
}

.header__inner {
  max-width: 1412px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  overflow: hidden;
  width: 168px;
  height: auto;
}

.header__img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__nav {
  width: 966px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.header__item:not(:last-child) {
  margin-right: 54px;
}

.header__link {
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  position: relative;
}

.header__link::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  height: 1px;
  background: #000;
  width: 0;
  -webkit-transition: 0.3s width ease;
  -o-transition: 0.3s width ease;
  transition: 0.3s width ease;
}

.header__link:hover::after {
  width: 100%;
}

.header__socials {
  position: relative;
  width: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__icon {
  height: 20px;
  width: auto;
}

.intro {
  position: relative;
  z-index: 1;
  padding-top: 62px;
  padding-right: 126px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.intro__image {
  max-width: 778px;
  height: auto;
  overflow: hidden;
}

.intro__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__title {
  max-width: 706px;
}

.intro__title > span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #00ccff;
  font-size: 29px;
  font-weight: 700;
}

.intro__text {
  max-width: 705px;
  margin-top: 44px;
}

.intro__text > sup {
  font-size: 10px;
}

.intro__btns {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 514px;
}

.intro__btn:nth-child(2) {
  background: transparent;
  color: #000;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.intro__btn:nth-child(2):hover {
  background: #0099ff;
  color: #fff;
}

.customers {
  margin-top: 333px;
  padding-right: 76px;
  padding-top: 73px;
  position: relative;
}

.customers__inner {
  position: relative;
  z-index: 2;
  max-width: 1242px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__desc {
  max-width: 662px;
}

.customers__image {
  max-width: 516px;
  height: auto;
  overflow: hidden;
}

.customers__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.customers__text {
  margin-top: 44px;
}

.customers__btn {
  padding: 22px 56px;
  margin-top: 50px;
  max-width: 242px;
}