.footer{
    position: relative;
    z-index: 2;
    background-color: #001726;
    padding-top: 70px;
    &__inner{
        margin: 0 auto;
        max-width: 1415px;
    }
    &-top{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #66747d;
        padding-bottom: 53px;
    }
    &__item{
        max-width: 234px;
        &:nth-child(3)>.footer__link{
            margin-top: 18px;
        }
        &:nth-child(3){
            max-width: 170px;
        }
        &:last-child{
            max-width: 482px;
        }
    }
    &__image{
        padding-bottom: 15px;
        max-width: 166px;
        height: auto;
        overflow: hidden;
        border-bottom: 1px solid #00ccff;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__text{
        font-size: 14px;
        font-weight: 300;
        color: #fff;
        margin-top: 16px;
    }
    &__name{
        font-weight: 700;
        font-size: 14px;
        color: #0099ff;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 23px;
    }
    &__link{
        text-decoration: none;
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        display: flex;
        align-items: flex-start;
        &>span{
            display: block;
        }
    }
    &__icon{
        transform: translateY(45%);
        margin-right: 15px;
        display: block;
        width: 14px;
        height: auto;
    }
    &__form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__input{
        display: block;
        max-width: 302px;
        padding-left: 24px;
        margin-right: 15px;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 40px;
        padding-top: 14px;
        padding-bottom: 14px;
        font-weight: 300;
        color: #fff;
        &::placeholder{
            color: #fff;
            font-weight: 300;
        }
    }
    &__btn{
        display: block;
        padding: 17px 44px;
    }
    &__socials{
        max-width: 186px;
        display: flex;
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__web{
        display: block;
        height: 22px;
        width: auto;
    }
    &__icons{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0;
    }
    &__copy{
        display: block;
        text-decoration: none;
        color: #929ca2;
        font-weight: 300;
        font-size: 14px;
    }
    &__right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>.footer__copy{
            &:not(:last-child){
                margin-right: 46px;
            }
        }
    }
}
@media (max-width:1450px) {
    .footer{
        padding-left: 10px;
        padding-right: 10px;
        &__inner{
            max-width: 100%;
        }
        &-top{
            flex-wrap: wrap;
        }
        &__form{
            margin-left: 30px;

        }
        &__item{
            margin: 0 auto;
            margin-top: 30px;
        }
        &__item:nth-child(3){
            max-width: 220px; 
        }
        &__input,&__btn{
            margin-top: 10px;
        }
    }
}