*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Geometria";
    font-size: 18px;
}
section, header{
    padding-left:225px;
    padding-right: 302px;
}
.inner{
    max-width: 1520px;
}
.paralax1{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.title{
    font-size: 60px;
    padding-left: 26px;
    border-left: 4px solid #00ccff;
    
}
.paralax2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 772px;
    width: auto;
}
.paralax3{
    position: absolute;
    top: 0;
    right: 110px;
    z-index: 0;
    transform: translateY(-15%);
}
.paralax4{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.btn{
    padding: 20px 68px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    border-radius: 26px;
    background: #0099ff;
    text-decoration: none;
    font-weight: 700;
    transition: .3s all ease;
    border: 1px solid #0099ff;
    &:hover{
        background: #fff;
        color: #0099ff;
    }
}